<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import { username, logOut, getPosts, deletePost, getVotes, deleteVote, deleteAccount } from '../api'

const posts: Ref<Post[]> = ref([])
const votes: Ref<Vote[]> = ref([])
const error = ref()

loadPosts()
loadVotes()

function loadPosts() {
    error.value = null
    getPosts()
        .then((postsReceived) => posts.value = postsReceived)
        .catch((err) => error.value = err)
}

function loadVotes() {
    error.value = null
    getVotes()
        .then((votesReceived) => votes.value = votesReceived)
        .catch((err) => error.value = err)
}

function deletePostClick(id: string) {
    error.value = null
    if (confirm("Are you sure to delete this post ?")) {
        deletePost(id)
            .then(() => loadPosts())
            .catch((err) => error.value = err)
    }
}

function deleteVoteClick(id: string) {
    error.value = null
    if (confirm("Are you sure to delete this vote ?")) {
        deleteVote(id)
            .then(() => loadVotes())
            .catch((err) => error.value = err)
    }
}

function deleteAccountClick() {
    error.value = null
    if (confirm("Are you sure to delete this account ?")) {
        deleteAccount().catch((err) => error.value = err)
    }
}
</script>
<template>
    <h1>
        <span>{{ username }}</span>
        <button type="button" @click="logOut">Log out</button>
    </h1>

    <p v-if="error">{{ error }}</p>

    <details v-if="posts.length > 0">
        <summary>Posts</summary>
        <blockquote v-for="post in posts">
            <div>
                <p>{{ post.content }}</p>
                <cite>{{ post.username }}</cite>
            </div>
            <div class="right-options">
                <button type="button" @click="deletePostClick(post.id)" class="warning">✖</button>
                <span>{{ post.score >= 0 ? "🠉" : "🠋" }} {{ Math.abs(post.score) }}</span>
            </div>
        </blockquote>
    </details>

    <details v-if="votes.length > 0">
        <summary>Votes</summary>
        <blockquote v-for="vote in votes" v-if="votes.length > 0">
            <div>
                <p class="vote-status">{{ vote.up ? "🠉 Upvoted" : "🠋 Downvoted" }}</p>
                <p>{{ vote.post.content }}</p>
                <cite>{{ vote.post.username }}</cite>
            </div>
            <div class="right-options">
                <button type="button" @click="deleteVoteClick(vote.post.id)" class="warning">✖</button>
                <span>{{ vote.post.score >= 0 ? "🠉" : "🠋" }} {{ Math.abs(vote.post.score) }}</span>
            </div>
        </blockquote>
    </details>

    <div class="delete">
        <button type="button" @click="deleteAccountClick" class="warning">Delete account</button>
    </div>
</template>

<style scoped>
h1 {
    display: flex;
    justify-content: space-between;
}

details {
    margin-block: 40px;
}

.right-options {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.right-options span {
    font-size: 0.8em;
}

blockquote {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.delete {
    display: flex;
    justify-content: end;
}

.warning:hover {
    color: darkred;
}

.vote-status {
    font-weight: bold;
    font-size: 0.8em;
}
</style>