<script setup lang="ts">
import { ref } from "vue"
import { logIn, newAccount } from "../api"

const user = ref("")
const password = ref("")
const state = ref()

function logInClick() {
    state.value = ""
    logIn(user.value, password.value).catch((err) => (state.value = err))
}

function newAccountClick() {
    state.value = ""
    newAccount(user.value, password.value)
        .then(() => (state.value = "Account created"))
        .catch((err) => (state.value = err))
}
</script>

<template>
    <form v-on:submit.prevent="logInClick">
        <div>
            <label for="user">User</label><br />
            <input v-model="user" id="user" autofocus>
        </div>
        <div>
            <label for="password">Password</label><br />
            <input type="password" v-model="password" id="password">
        </div>
        <div class="buttons">
            <button type="submit" :disabled="user.length == 0 || password.length == 0">Log in</button>
            <button type="button" @click="newAccountClick" :disabled="user.length == 0 || password.length == 0">
                New account
            </button>
        </div>
        <div>
            <p>{{ state }}</p>
        </div>
    </form>
</template>

<style scoped>
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
</style>
