<script setup lang="ts">
import { username, logOut } from '../api'
</script>

<template>
    <header>
        <nav>
            <button class="home-button" @click="$emit('page', 'post')">Vortivox</button>
            <div class="header-right">
                <button v-if="username" type="button" @click="$emit('page', 'new-post')">New post</button>
                <button v-if="username" type="button" @click="$emit('page', 'account')">👤 {{ username }}</button>
            </div>
        </nav>
    </header>
</template>

<style scoped>
nav {
    display: flex;
    justify-content: space-between;
}

.home-button {
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
    background: none;
}

.header-right {
    display: flex;
    column-gap: 10px;
}
</style>