<script setup lang="ts">
import { ref } from 'vue'
import { newPost } from '../api'

const emit = defineEmits(['page'])

const content = ref("")
const error = ref()

function onSubmit() {
    error.value = null
    newPost(content.value)
        .then(() => emit('page', 'post'))
        .catch((err) => error.value = err)
}

</script>
<template>
    <blockquote>
        <form v-on:submit.prevent="onSubmit">
            <textarea v-model="content" rows="8" autofocus></textarea>
            <div class="button-container">
                <button type="submit" :disabled="content.length > 1024">Send</button>
                <span class="post-length">{{ content.length }}</span>
            </div>
        </form>
        <div v-if="error">
            <p>{{ error }}</p>
        </div>
    </blockquote>
</template>

<style scoped>
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    vertical-align: center;
    gap: 10px;
    font-size: 1.2em;
}

.post-length {
    font-size: 0.8em;
}
</style>