<script setup lang="ts">
import { ref } from 'vue'
import { getRandomPost, votePost } from '../api'

const post = ref()
const error = ref()
newRandomPost()

function vote(up: boolean) {
    error.value = null
    votePost(post.value.id, up)
        .then(() => newRandomPost())
        .catch((err) => error.value = err)
}

function newRandomPost() {
    error.value = null
    getRandomPost()
        .then((response) => post.value = response)
        .catch((err) => error.value = err)
}
</script>
<template>
    <blockquote v-if="post">
        <div>
            <p>{{ post.content }}</p>
            <cite>{{ post.username }}</cite>
        </div>
        <div class="vote-buttons">
            <button class="upvote" @click="vote(true)">🠉</button>
            <button class="next" @click="newRandomPost">⭮</button>
            <button class="downvote" @click="vote(false)">🠋</button>
            <span>{{ post.score }}</span>
        </div>
        <span v-if="error">{{ error }}ee</span>
    </blockquote>
    <div v-else>Loading...</div>
</template>

<style scoped>
blockquote {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vote-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
    font-size: 1.2em;
}

.upvote:hover {
    color: darkgreen;
}

.downvote:hover {
    color: darkred;
}
</style>