<script setup lang="ts">
import { ref, watch } from 'vue'
import { username, updateUsername } from './api'
import Header from './components/Header.vue'
import Connection from './components/Connection.vue'
import Post from './components/Post.vue'
import NewPost from './components/NewPost.vue'
import Account from './components/Account.vue'

const page = ref("loading")

updateUsername()
    .then(() => page.value = "post")
    .catch(() => page.value = "connection")

watch(username, async (newUsername) => {
    if (newUsername) {
        page.value = "post"
    } else {
        page.value = "connection"
    }
})

function setPage(newPage: string) {
    if (username.value) {
        if (page.value != newPage)
            page.value = newPage
        else
            page.value = "post"
    }
}

</script>

<template>
    <Header @page="setPage" />
    <div v-if="page == 'loading'">Loading...</div>
    <Connection v-if="page == 'connection'" />
    <Post v-if="page == 'post'" />
    <NewPost v-if="page == 'new-post'" @page="setPage" />
    <Account v-if="page == 'account'" />
</template>